

  /* FLEX-BOX HELPER ------------------ 

div {
    border: 1px dotted #a2a2a239;
}

    /* FLEX-BOX HELPER END --------------- */




.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: calc(100dvh - 160px);
    width: 100%;
    margin-bottom: 40px;
}

.info-container > div{
    width: 100%;
}

.top-info{
    padding: 0px 80px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.morse{
    width: 15%;
    margin-right: 100px;

}
#mid-bar{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 40px;
}



.bot-info{
    height: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
}

.me-desc{
    width: 500px;
    line-height: 1em;
}
.desc-year{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 5px;
}
.desc-name{
    font-size: 64px;
    line-height: 0.9em;
    font-weight: 400;
    padding-bottom: 10px;
}
.desc-desc{
    line-height: 1.4em;
}

#mid-bar > div{
    height: 10px;
    width: 10px;
    background-color: var(--thered);
    transition: all 1s ease-in-out;
    transform-origin: center;
    
}


#bar-start{
    transform-origin: left !important;
    margin-left: 0 !important;
    
}
#bar-end{
    transform-origin: right !important;
    margin-right: 0 !important;
}


.bar-active{
    transform: scaleX(10);
    margin-left: 20%;
    margin-right: 20%;

}

.contact-box{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.socials{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 20px;
}
.socials-text{
    font-size: 16px !important;
    height: 30px;
    width: auto;
    padding: 0px 16px;
    text-wrap: nowrap;
}

.email{
    font-size: 64px;
    text-transform: uppercase;
    line-height: 1em;
    margin: 20px 0px;
    transition: all 0.2s ease-in-out;
}

.email:hover{
    transform-origin: center;
    transform: skewX(-10deg);
}


#email-at{
    color: var(--thered);
}

.skill-box{
    display: flex;
    flex-direction: column;
    align-items: end;
    text-transform: uppercase;
    height: 200px;
    white-space: pre-wrap;
    text-align: right;
}

.skill-title{
    margin-bottom: 20px;
    cursor: pointer;
}

.skill-desc-box{
    display: flex;
    align-items: start;
    justify-content: end;
    line-height: 1.5em;
    column-gap: 20px;
}

.skill-active{
    color: var(--thered);
}




@media only screen and (max-width: 1400px) {
    
}

@media only screen and (max-width: 1281px) {

.bot-info{
    padding: 0px;
} 
 
.skill-box{
    font-size: 18px;
}
.desc-year{
    font-size: 18px;
}
.desc-name{
    font-size: 48px;
}
.desc-desc{
    font-size: 16px;
}
.email{
    font-size: 48px;
    margin: 10px 0px;
}
.socials{
    column-gap: 10px;
}
.socials-text{
    font-size: 14px !important;
    padding: 0px 10px;
    line-height: 1em;
    height: 30px;
}
}



@media only screen and (max-width: 1024px) {
    .info-container{
        justify-content: space-between;
        height: calc(100dvh - 100px);
        margin-bottom: 0px;
    }
.top-info{
    height: 40%;
}

#mid-bar{
    margin-top: 0px;

}

.bot-info{
    height: 55%;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 0px 40px;
}

.skill-box{
    width: 100%;
    height: 160px;
    padding-top: 20px;
}

.contact-box{
    width: 100%;
}

}

@media only screen and (max-width: 760px) {
    #mid-bar > div{
        height: 5px;
        width: 5px;
    }

    .morse{
        display: none;
    }
}

@media only screen and (max-width: 605px) {
    .bot-info{
        padding: 0px;
    }

}

@media only screen and (max-width: 570px) {
    .email{
        font-size: 36px;
    }

    .skill-box{
        font-size: 16px;
    }

    .socials{
        flex-wrap: wrap;
        row-gap: 10px;
        justify-content: center;
    }



    .socials-text{
        border: none;
    }

.contact-box{
    align-items: center;
}

.bot-info{
    justify-content: space-between;
}
.desc-name{
    font-size: 36px;
    padding-bottom: 0px;
}
.desc-desc{
    line-height: 1.3em;
}

}

@media only screen and (max-width: 481px) {
    .top-info{
        padding: 0px 40px;
    }

}

@media only screen and (max-width: 400px) {
    .email{
        font-size: 30px;
    }
    .contact-box{
        flex-direction: column-reverse;
    }

    .socials-text{
        height: auto;
    }
    .skill-box{
        height: 140px;
        font-size: 14px;
    }

    .desc-name{
        font-size: 30px;
        padding-bottom: 5px;
    }
    .desc-desc{
        font-size: 14px;
        line-height: 1.2em;
    }
    .top-info{
        padding-right: 20px;
    }
}

@media only screen and (max-width: 341px) {
    .email{
        font-size: 28px;
    }

    .hide-text{
        display: none;
    }

}